<section class="artist-bio col-sm-12 col-med-6 col-lg-3">
  <img src="<%= artist.profile_picture %>">
  <h2 class="artist-name"><%= artist.name %></h2>
  <h3 class="artist-hometown"><%= artist.hometown %></h3>
  <p class="artist-bio"><%= artist.bio %></p>
</section>
