<div class="col-lg-5" id="drop-song-form">
  <div class="col-md-12">
    <h1 class="text-center">Drop Song</h1>
  </div>
  <div class="col-md-12">
    <p id="demo"></p>
    <%=render partial: '/shared/map'%>
    <button id="reset">Reset</button>
    <br><br>
    <%= render partial: '/shared/errors', locals: {errors: @errors} %>
    <%= render '/shared/flash' %>
    <%= render 'songs/new', locals: {song: @song} %>
  </div>
</div>
