<div class="row user-show-app">
  <section class="artist-bio col-ex-12 col-lg-3">
      <%= render 'artists/artist_bio' %>
  </section>
  <section class="artist-active-songs col-ex-12 col-lg-3">
    <%= render 'artists/active_songs' %>
  </section>
  <section class="artist-drop-song">
    <button type="button" class="drop-song-btn btn btn-primary btn-lg text-center center-block">Drop Song</button>
    <%= render 'artists/artist_drop_song' %>
  </section>
</div>
