<h2>My Artists</h2>
<ul class="user-artists-list">
  <% @user.artists.each do |artist|%>
  <li class="user-artist-item"><%= link_to artist.name, user_artist_path(@user, artist) %></li>
  <% end %>
</ul>
