    <section class="row greetings-wrapper">
      <%= render 'users/greeting'%>
    </section>

    <section class="row parallax-wrapper module parallax parallax-1">
      <%= render 'users/parallax'%>
    </section>

  <main class="container">
    <section class="row user-info-wrapper">
      <%= render 'users/user_content'%>
    </section>
  </main>
