
<article class="greeting container">
  <section class="row">
    <div class="col-md-12">
      <h1 class="text-center">Welcome <%=@user.username%>
    </div>
  </section>
</article>

<article class="module parallax parallax-1">
        <img class="center-block img-rounded" src="<%= @user.profile_picture %>"
        width="304" height="236">
</article>

<main class="container">
  <article class="row user-info-wrapper">

    <section class="user-media-wrapper col-ex-12 col-sm-6">
      <%= render 'users/user_content'%>
    </section>

    <section class="user-map-wrapper col-ex-12 col-sm-6">
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjMxrwns8Hvjk3ax8QTAYxei7Ilpen3AM&libraries=drawing,places,visualization&callback=initUserMap" async defer></script>
       <div id="user-map"></div>
    </section>

  </article>
</main>

