

<br><br><br><br>

<%= render 'user_info', locals: { user: @user} %>
<%= render 'user_artists', locals: { user: @user} %>
<section class="edit-wrapper"></section>
<!-- list user's personal artists, provide links to artist pages -->
<!-- become an artist link, supply artist info -->
<!-- upload song NEED MAPS API -->

