user's show page


<br><br><br><br>
<h1>Welcome <%=@user.username%></h1>
<%= render 'user_artists' %>
<!-- list user's personal artists, provide links to artist pages -->
<!-- become an artist link, supply artist info -->
<!-- upload song NEED MAPS API -->
