

<audio id="music" preload="true">
<source src="http://creaumond.ourea.feralhosting.com/Run%20The%20Jewels%20-%20Banana%20Clipper.mp3" type="audio/mpeg" />
</audio>

<div id="audioplayer">
  <button id="pButton" class="play"></button>
  <div id="timeline">
    <div id="playhead"></div>
  </div>
  <button id="muteButton" class="sound"></button>
    <div id="volumeline">
    <div id="volumehead"></div>
  </div>
</div>



