<!-- artist show maps -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjMxrwns8Hvjk3ax8QTAYxei7Ilpen3AM&libraries=drawing,places,visualization&callback=initMap" async defer></script>
<div id="map-container"><input id="pac-input" type="text"><div id="map"></div></div>



