<h1>yoooooo,
dis the song show page where we're gonna have some sweet d3 graphixxxxcsssss</h1>

<%= button_to "DELETE SONG", artist_song_path(@song.artist, @song), method: :delete %>


<!-- <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= ((@song.expire.to_time.to_f - @song.created_at.to_time.to_f)/@song.created_at.to_time.to_f).round %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">

</div> -->

