<ion-view view-title="Comments">
  <ion-content>
    <div class="item item-avatar">
      <img src="{{song.artwork}}">
      <h2>{{song.artist.name}} - {{song.name}}</h2>
      <p>{{song.artist.hometown}}</p>
    </div>

    <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="comment in song.comments" type="item-text-wrap" >
      <!-- <img ng-src="{{chat.face}}"> -->
      {{comment.content}}
    </ion-item>

    <form ng-controller="CommentDetailCtrl" ng-submit="submit()">
      <label class="item item-input item-floating-label">
        <span class="input-label">Comment</span>
        <input type="text" placeholder= "Comment" name="comment" ng-model="formData.name">
      </label>
      <input class="button button-block button-calm" type="submit" value="Submit Form">
    </form>

  </ion-content>
</ion-view>

<!-- ng-controller="CommentDetailCtrl" -->
