
#heatmap{
  height: 400px;
  width: 100%;
}

#button-group{
  margin-left: 10%;
  margin-right: 10%;
}

.section-primary{
  height: 5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-top:-10px;
}

#user-map{
  height: 440px;
  width: 100%;
}




