#heatmap-container{
  height: 400px;
  border-radius: 16px 16px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  border-width: 7px;
  width: 100%;
  // margin-top: -10px;
  // margin-left: 10%;
}

#heatmap{
  // margin-top:10px;
  height: 385px;
  width: 100%;

}
//
// #button-group{
//   margin-left: 10%;
//   margin-right: 10%;
// }

.section-primary{
  height: 5px;
  padding-top:-10px;
}
.left-space{
  margin-left:10px;
}

#user-map{

  margin-top:50px;
  height: 400px;

  width: 100%;
}
