#heatmap-container{
  height: 600px;
  border-radius: 16px 16px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  border-width: 7px;
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}

#heatmap{
  height: 584px;
  width: 100%;
}
