#home-jumbo {
  width: 100%;
  height: 100%;
  background-image: url(image-path('2014-05-09-WickerParkFest_0-1.jpg'));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


