<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
...
</nav>
<div class="navbar navbar-default navbar-fixed-top">
  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
    <span class="icon-bar">dsfds</span>
    <span class="icon-bar">dsfasdfsd</span>
    <span class="icon-bar">dsfasdfd</span>
  </button>
</div>
